*{
    padding: 0px;
    margin: 0px;
}
*,*:before,*:after{
    box-sizing: content-box;
}

h2{
    color: white;
    background-color: gray;
    text-align: center;
    }
ul li{
     
    display: inline-flex;
 width:400px;
    height:350px;
    list-style:none;
}


ul li a{
   
     width:300px;
    height:350px;
   flex-direction: row;
    flex-flow: row;
     transition-property:width,height,margin,z-index,border;
     transition-duration:3s;
text-align: center;
    text-decoration: none;
}

ul li a:hover{
   position: absolute;
     width:300px;height:0px;
    
}

ul li a div {
    position: absolute;
    text-align: center;
transition-property: width,height,margin,z-index,border;
     transition-duration:3s;
    visibility: collapse;
} 
ul li a:hover div {
    position: absolute;
    text-decoration: none; 
    border:6px solid red;
    height: 200px;
    width: 300px;
 color:white;
    transition-property: all;
     transition-duration:3s;
    background-color:black;
   visibility: visible;
}
ul li a img{
      width:200px;
    height:300px;
    transition-property:width,height,margin,z-index,border;
     transition-duration:3s;
}
ul li a:not(:hover) p{
    visibility: visible;
    color: black;
    white-space: 0px;  
} 
ul li a:hover p{
    visibility: collapse;
}
ul li a:hover img{
position: absolute;
     width:100px;
    height:100px;
    padding-top: 100px;
   z-index: 10;
     transition-property:width,height,margin,z-index,visibility,border;
     transition-duration:3s;
 transition-timing-function: cubic-bezier(.6, 4, .2, 1);  
    
}


h2 span {
    transition-property: visibility;
    transition-duration: 3s;
    visibility: hidden; 
}
h2:hover span{
    transition-property:visibility;
    transition-duration: 3s;
    visibility: visible;
}
